<div class="panel panel-default">
    <div class="panel-footer">{{ now }}</div>
</div>
<ul>
    <li><a href="/list">List</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/get_mybudget/7112029088/xxx/15/1000">查詢我能買什麼手機?</a></li>
</ul>
<hr>
<i>Good quotes: be the change that you wish to see in the world.</i>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">&copy; {% now "Y" %} mynewsite. All rights reserved.</span>
    </div>
</footer>
