{% extends "board/base.html" %} {% block title %}我有話要說{% endblock %} {% block content %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12"><div class="panel panel-default"><div class="panel-heading" align="center">
            <h3>我的私人日記</h3>
        </div></div></div>
    </div>
    {% if user_name %}
    <p>Hello {{user_name}}</p>
    {% endif %}

</div>
{% endblock %}
